@font-face {
  font-family: "iconfont"; /* Project id 2432404 */
  src: url('iconfont.woff2?t=1627008390743') format('woff2'),
       url('iconfont.woff?t=1627008390743') format('woff'),
       url('iconfont.ttf?t=1627008390743') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lajitong:before {
  content: "\e615";
}

.icon-cuo1:before {
  content: "\e643";
}

.icon-yduishangyiqu:before {
  content: "\e60d";
}

.icon-yduixiayiqu:before {
  content: "\e611";
}

.icon-guangpan:before {
  content: "\e61f";
}

.icon-bofang:before {
  content: "\e607";
}

.icon-zanting:before {
  content: "\e60c";
}

.icon-fenxiang:before {
  content: "\e6d1";
}

.icon-index:before {
  content: "\e60e";
}

.icon-sousuo:before {
  content: "\e618";
}

.icon-index-copy:before {
  content: "\e622";
}

.icon-diantai:before {
  content: "\e621";
}

.icon-paihangbang:before {
  content: "\e60f";
}

.icon-tuijian:before {
  content: "\e629";
}

.icon-qita:before {
  content: "\e61e";
}

.icon-zhibo:before {
  content: "\f149";
}

.icon-zhedie2:before {
  content: "\e620";
}

.icon-shouqi:before {
  content: "\e87f";
}

.icon-shuju:before {
  content: "\e617";
}

.icon-shangpin:before {
  content: "\e648";
}

.icon-single:before {
  content: "\e6bd";
}

.icon-quanxian:before {
  content: "\e610";
}

.icon-mima:before {
  content: "\e606";
}

.icon-iconfontcheck:before {
  content: "\e61b";
}

.icon-jiantou1:before {
  content: "\e603";
}

.icon-jiantou2:before {
  content: "\e604";
}

.icon-cuo:before {
  content: "\e60b";
}

.icon-dingwei:before {
  content: "\e642";
}

.icon-jiantou:before {
  content: "\e624";
}

.icon-gouwuche1:before {
  content: "\e605";
}

.icon-touxiang:before {
  content: "\e640";
}

